@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@400;700&family=Quicksand:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: #ccc;
  display: grid;
  height: 100vh;
  place-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 0 auto;
  gap: 30px;

  background-color: #fff;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
}

.container p {
  text-align: justify;
}

.container img {
  width: 80%;
}

.openButton {
  padding: 10px 15px;
  cursor: pointer;
}

.resPhrase {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
}